.v:active{
    border-radius: 10px;
  transition: 0.2s ease-out;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  }
  body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  li:hover, p:hover {
    color: red;
    transition: ease;
  }
  h2:hover{
    text-transform: uppercase;
  }